@CHARSET "US-ASCII";

.formtable {
	width: 600px;
	padding: 10px;
	border: 1px solid orange;
}

input[type=text] {
	width: 250px;
	padding-left: 3px;
}

input[type=password] {
	width: 250px;
	padding-left: 3px;
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

p.error {
	font-size: medium;
}

table.offers {
	width: 450;
	padding: 20px;
	border: 1px solid orange;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 40px;
}

div.header {
	position: relative;
	text-align: center;
	height: 45px;
	background-color: orange;
}

input.login {
	position: absolute;
	top: 12px;
	right: 12px;
}

a.title {
	padding-right: 40px;
	color: white;
	font-size: 35px;
}